# Backend (WordPress + MariaDB)
WORDPRESS_DB_HOST=127.0.0.1
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wpuser
WORDPRESS_DB_PASSWORD=wppass
WORDPRESS_TABLE_PREFIX=wp_
MARIADB_ROOT_PASSWORD=rootpass

# WordPress site bootstrap
WORDPRESS_SITE_URL=http://localhost:8080
WORDPRESS_SITE_TITLE=Ultrastore
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin
WORDPRESS_ADMIN_EMAIL=admin@example.com

INSTALL_WOOCOMMERCE=true

# Frontend (Next.js)
FRONTEND_PORT=3000

NEXT_PUBLIC_WOOCOMMERCE_URL=http://localhost:8080
NEXT_PUBLIC_WOOCOMMERCE_CONSUMER_KEY=ck_3bd36f581f6e9b4c845d458273584ac60e71c525
NEXT_PUBLIC_WOOCOMMERCE_CONSUMER_SECRET=cs_cfd6737187281579bfda799682d5390e98c0d30c
